@page "/"

<h1>Welcome to my dice roller app.</h1>
<hr style="width:3px"/>
<p><strong>Select the Dice Roller tab to get started.</strong></p> 
<p>The Roll History is a work in progress, and currently has placeholder elements.</p>
